doc/c/bdwn.png
doc/c/dir_*.html
doc/c/dir_*.html
doc/c/dir_*.html
doc/c/dynsections.js
doc/c/form_0.png
doc/c/form_1.png
doc/c/form_10.png
doc/c/form_11.png
doc/c/form_12.png
doc/c/form_13.png
doc/c/form_14.png
doc/c/form_15.png
doc/c/form_16.png
doc/c/form_17.png
doc/c/form_18.png
doc/c/form_19.png
doc/c/form_2.png
doc/c/form_20.png
doc/c/form_21.png
doc/c/form_22.png
doc/c/form_23.png
doc/c/form_24.png
doc/c/form_25.png
doc/c/form_26.png
doc/c/form_27.png
doc/c/form_28.png
doc/c/form_29.png
doc/c/form_3.png
doc/c/form_30.png
doc/c/form_31.png
doc/c/form_32.png
doc/c/form_33.png
doc/c/form_34.png
doc/c/form_35.png
doc/c/form_36.png
doc/c/form_37.png
doc/c/form_38.png
doc/c/form_39.png
doc/c/form_4.png
doc/c/form_40.png
doc/c/form_41.png
doc/c/form_42.png
doc/c/form_43.png
doc/c/form_44.png
doc/c/form_45.png
doc/c/form_46.png
doc/c/form_5.png
doc/c/form_6.png
doc/c/form_7.png
doc/c/form_8.png
doc/c/form_9.png
doc/c/formula.repository
doc/c/ftv2blank.png
doc/c/ftv2cl.png
doc/c/ftv2doc.png
doc/c/ftv2folderclosed.png
doc/c/ftv2folderopen.png
doc/c/ftv2lastnode.png
doc/c/ftv2link.png
doc/c/ftv2mlastnode.png
doc/c/ftv2mnode.png
doc/c/ftv2mo.png
doc/c/ftv2node.png
doc/c/ftv2ns.png
doc/c/ftv2plastnode.png
doc/c/ftv2pnode.png
doc/c/ftv2splitbar.png
doc/c/ftv2vertline.png
doc/c/nav_g.png
doc/c/sopt__about_8c.html
doc/c/sopt__about_8c_source.html
doc/c/sync_off.png
doc/c/sync_on.png
images/wavedec.tiff
lib/*.a
build/
.*.swp
.settings
